@use "../base/" as *;

.public-layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .landing-page {
    height: 100%;
    @media only screen and (max-width: 640px) {
      max-width: 640px;
      width: 100%;

      .landing-navbar {
        padding: 0.5rem 1rem;
        width: 100%;
        // background-color: red;
        // border-bottom: 1px solid gray;
        display: flex;
        flex-direction: column;

        align-items: center;

        .logo-container {
          margin-bottom: 1rem;
        }

        .link-container {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .link-btn {
            padding: 0.8rem 2rem;
            background-color: rgb(234, 241, 243);
            color: rgb(69, 110, 123);
          }
        }
      }

      .hero-text {
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
          font-size: 0.9rem;
          visibility: hidden;
        }
      }

      .hero-sample {
        width: 100%;

        .display-editor {
          margin: auto;
          padding: 1rem;
          background-color: white;
          border-radius: 8px;
          // background-color: red;
          width: 90%;

          -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
          -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
        }
      }
    }

    @media only screen and (min-width: 640px) {
      min-width: 640px;
      .landing-navbar {
        width: 100%;
        // background-color: yellow;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;

        .logo-container {
          p {
            // font-weight: bold;
            font-size: 1.2rem;
            // color: lighten(gray, 10);
          }
        }

        .link-container {
          & * {
            margin-left: 2rem;
            font-size: 0.9rem;
            border-radius: 4px;
            // background-color: blue;
            padding: 0.8rem 2rem;
          }

          div {
            display: inline-block;
            cursor: pointer;
          }

          .link-btn {
            background-color: rgb(234, 241, 243);
            color: rgb(69, 110, 123);
          }

          .login-link {
            // background-color: rgb(233, 233, 233);
            // color: lightcoral;
            // transition: all 0.5s ease-out;
            // &:hover {
            //   background-color: lightsalmon;
            // }
          }
        }
      }

      .home-page {
        // background-color: red;
        // height: 87%;
        height: calc(100% - 8rem);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .hero-text {
          text-align: center;
          width: 100%;
          height: 40%;
          // background-color: red;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .typewriter {
            h1 {
              font-weight: normal;
              font-size: 1.2rem;
            }
          }

          .subtitle {
            width: 420px;
            // background-color: red;
            font-weight: normal;

            color: #71717a;
            font-size: 1rem;
            // font-weight: bold;
            font-family: Quicksand;
          }

          .logo {
            margin-bottom: 2rem;
            font-size: 2rem;
          }
        }

        .hero-sample {
          width: 100%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          // background-color: red;
          // padding: 1rem;
          .display-editor {
            background-color: rgb(244, 244, 244);
            padding: 4rem 1rem;
            width: 900px;
            height: 100%;
            // background-color: blue;

            border-radius: 1rem 1rem 0 0;

            -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
            -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
          }
        }
      }
    }

    @media only screen and (min-width: 768px) {
      min-width: 768px;
    }

    @media only screen and (min-width: 1024px) {
      min-width: 1024px;
    }

    @media only screen and (min-width: 1280px) {
      min-width: 1280px;
    }

    @media only screen and (min-width: 1536px) {
      min-width: 1536px;
    }
  }
}
